Library
Logs
android
BundleCache
ios
Temp
obj
.vs
.vscode/
.vsconfig
/*.csproj
/*.csproj.user
/*.sln
/Assets/XLua/Gen
/Assets/StreamingAssets
/Res/
.lpproj
/HybridCLRData/

# assetGraph缓存
/Assets/3rd/AssetGraph/AssetBundles/Cache/
/Assets/3rd/AssetGraph/AssetBundles/Cache.meta

/Assets/3rd/AssetGraph/Cache/
/Assets/3rd/AssetGraph/Cache.meta
/UserSettings
Assets/FindReference2.unitypackage
Assets/FindReference2.unitypackage.meta
Assets/FR2_Cache.asset
Assets/FR2_Cache.asset.meta

/Assets/csc.rsp
/Assets/csc.rsp.meta

/BattleRecord/*.*